@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.customActiveBullet{
  background-color: white !important;
  opacity: 1 !important;
}

.customBullet{
  background-color: transparent ;
  border: 3px solid white;
  border-radius: 100%;
  opacity: 1 !important;
  width: 1em;
  height: 1em;
  display: inline-block !important;
  margin-left: .2em;
  margin-right: .2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
